use Predictioncomp

  UPDATE T
  SET T.TeamName = 'Man City'
  FROM TEAMS T
  where T.TeamName = 'Manchester City'

  UPDATE T
  SET T.TeamName = 'Man Utd'
  FROM TEAMS T
  where T.TeamName = 'Manchester United'

  UPDATE T
  SET T.TeamName = 'Newcastle Utd'
  FROM TEAMS T
  where T.TeamName = 'Newcastle United'

  UPDATE T
  SET T.TeamName = 'Sheffield Utd'
  FROM TEAMS T
  where T.TeamName = 'Sheffield United'

  UPDATE T
  SET T.TeamName = 'Spurs'
  FROM TEAMS T
  where T.TeamName = 'Tottenham Hotspur'

