table.tableSorter th div.sortArrow {
    display: inline-block;
    height: 6px;
    margin-left: 5px;
    position: relative;
    vertical-align: 2px;
    width: 11px;
}

table.tableSorter th div.sortArrow div.sortArrowAscending,
table.tableSorter th div.sortArrow div.sortArrowDescending {
    display: none;
    height: 6px;
    position: absolute;
    width: 11px;
}

table.tableSorter th div.sortArrow div.sortArrowAscending { background: url('/Images/TableSorter/arrow_asc.png') no-repeat; }

table.tableSorter th div.sortArrow div.sortArrowDescending { background: url('/Images/TableSorter/arrow_desc.png') no-repeat; }


body {
    padding-bottom: 20px;
    padding-top: 50px;
    overflow-x: hidden;
}

html {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

/* Style the tab */

.tab {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    overflow: hidden;
}

/* Style the buttons that are used to open the tab content */

.tab label {
    background-color: inherit;
    border: none;
    cursor: pointer;
    float: left;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */

.tab label:hover { background-color: #ddd; }

/* Create an active/current tablink class */

.tab label.active { background-color: #ccc; }

/* Style the tab content */

.tabcontent {
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    padding: 6px 12px;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */

@keyframes fadeEffect {
    from { opacity: 0; }

    to { opacity: 1; }
}