USE predictioncomp
GO
-- ================================================
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spUpdateCleanDatabase')
DROP PROCEDURE dbo.spUpdateCleanDatabase 
GO

-- =============================================
-- Author:		Pete Salsbury
-- Create date: 24 Jan 2021
-- Description:	Delete unwanted data
-- =============================================
-- EXEC predictioncomp.dbo.spUpdateCleanDatabase
CREATE PROCEDURE dbo.spUpdateCleanDatabase 
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	/*  Delete all fixtures that have passed and had no predictions associated */
	DELETE F
	FROM Fixtures AS F
	LEFT OUTER JOIN FixturePredictions AS FP ON FP.FixtureId = F.id
	WHERE (F.ResultProcessed = 1 OR F.FixtureDateTime < CAST(GETUTCDATE() AS DATE))
	AND FP.Id IS NULL

	/*  Delete all teams WHERE there are no fixtures for that team */
	DELETE T
	FROM Teams AS T
	LEFT OUTER JOIN Fixtures AS F ON (F.HomeTeamId = T.id OR F.AwayTeamId = T.id) 
	WHERE F.Id IS NULL

	/* Delete FixtureOddsByScores where there is no longer a fixture */
	DELETE ODDS
	FROM FixtureOddsByScores AS ODDS
	LEFT OUTER JOIN Fixtures AS F ON F.RapidApiFixtureId = odds.RapidApiFixtureId
	WHERE F.Id IS NULL

	/* Delete FixtureOddsByScores WHERE there result is in and there were no predictions associated */
	DELETE ODDS
	FROM FixtureOddsByScores AS ODDS
	INNER JOIN Fixtures AS F ON F.RapidApiFixtureId = odds.[RapidApiFixtureId] and (f.ResultProcessed = 1 OR f.FixtureDateTime < CAST(GETUTCDATE() AS DATE))
	LEFT OUTER JOIN FixturePredictions AS FP ON fp.FixtureId = F.id AND FP.HomePrediction = ODDS.HomeScore AND FP.AwayPrediction = ODDS.AwayScore
	WHERE FP.Id IS NULL	/* No predictions with these odds */
	AND NOT (ODDS.HomeScore = F.HomeResult AND ODDS.AwayScore = F.AwayResult) /* keep odds for actual score */

	/*  Delete FixtureOddsByResults where there is no longer a fixture  */
	DELETE ODDS
	FROM [dbo].[FixtureOddsByResults] AS ODDS
	LEFT OUTER JOIN dbo.Fixtures AS F ON F.RapidApiFixtureId = ODDS.[RapidApiFixtureId]
	WHERE F.Id IS NULL

END
GO