USE predict
GO
-- ================================================
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetPlayerPoolInfo')
DROP PROCEDURE dbo.spGetPlayerPoolInfo 
GO

-- =============================================
-- Author:		Pete Salsbury
-- Create date: 13 April 2020
-- Description:	Get pool info for the home page
-- =============================================
-- EXEC predict.dbo.spGetPlayerPoolInfo 1,'e42f3c8b-0040-464d-b907-b131078e8c24'
CREATE PROCEDURE dbo.spGetPlayerPoolInfo 
(
	@strPlayerId NVARCHAR(256) = NULL
)
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	WITH CTE AS
	(
		SELECT PP.PoolId
			, COUNT(1) AS TotalNumberOfPlayers
			, SUM(CASE WHEN AdminApprovedDateTime IS NULL THEN 1 ELSE 0 END) AS PlayersToApprove
		FROM dbo.PoolPlayers AS PP
		INNER JOIN dbo.pools AS PO ON PO.Id = PP.PoolId
		WHERE PO.Id IN	(	SELECT PO.Id
							FROM dbo.PoolPlayers AS PP
							INNER JOIN dbo.pools AS PO ON PO.Id = PP.PoolId
							WHERE PP.PlayerId = @strPlayerId
						)
		GROUP BY PP.PoolId
	)
	SELECT PO.Id AS PoolId
		, PO.EventId
		, PP.TotalScore
		, PO.PoolName
		, PP.PoolPosition
		, PO.MemberInfo
		, PP.AdminApprovedDateTime
		, CAST(CASE WHEN PO.AdminPlayerId = PP.PlayerId THEN 1 ELSE 0 END AS BIT) IsAdmin
		, CTE.PlayersToApprove
		, CTE.TotalNumberOfPlayers
	FROM dbo.PoolPlayers AS PP
	INNER JOIN .dbo.pools AS PO ON PO.Id = PP.PoolId
	INNER JOIN CTE ON CTE.PoolId = PO.Id
	WHERE PP.PlayerId = @strPlayerId

END
GO