USE predictioncomp
GO
-- ================================================
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetNextFixtureToCheckResult')
DROP PROCEDURE dbo.spGetNextFixtureToCheckResult 
GO

-- =============================================
-- Author:		Pete Salsbury
-- Create date: 30 Sep 2020
-- Description:	Get next fixture to get the result
-- =============================================
-- EXEC predictioncomp.dbo.spGetNextFixtureToCheckResult
CREATE PROCEDURE dbo.spGetNextFixtureToCheckResult 
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	SELECT L.RapidApiLeagueId
		, MIN(F.FixtureDateTime) AS FixtureDateTime
	FROM dbo.EventFixtures AS EF
	INNER JOIN dbo.Fixtures AS F ON F.Id = EF.FixtureId
	INNER JOIN Leagues AS L ON L.Id = F.LeagueId AND l.RapidApiLeagueId IS NOT NULL
	WHERE f.HomeResult IS NULL
	GROUP BY L.RapidApiLeagueId

END
GO