USE predictioncomp
GO
-- ================================================
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetTable')
DROP PROCEDURE dbo.spGetTable 
GO

-- =============================================
-- Author:		Pete Salsbury
-- Create date: 19 Aug 2019
-- Description:	Get the tables
-- =============================================
-- EXEC predict.dbo.spGetTable 1
CREATE PROCEDURE dbo.spGetTable 
(
	@intPoolId BIGINT
)
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	CREATE TABLE #tmp
	(
		PoolPosition BIGINT
		, PlayerId NVARCHAR(128)
		, DisplayName NVARCHAR(30)
		, PoolId INT
		, PoolName NVARCHAR(50)
		, CorrectScore INT
		, CorrectResult INT
		, KoScore INT
		, TotalScore INT
	)


	INSERT INTO #tmp
	(
		PoolPosition
		, PlayerId
		, DisplayName 
		, PoolId 
		, PoolName
		, CorrectScore
		, CorrectResult
		, KoScore
		, TotalScore
	)
	SELECT ROW_NUMBER() OVER(ORDER BY PP.TotalScore DESC, PP.CorrectScore DESC, PP.CreatedDateTime) AS PoolPosition
		, PP.PlayerId
		, PL.DisplayName
		, P.Id AS PoolId
		, P.PoolName
		, PP.CorrectScore
		, PP.CorrectResult
		, PP.KoScore
		, PP.TotalScore
	FROM PoolPlayers AS PP
	INNER JOIN Players AS PL ON pl.Id = PP.PlayerId
	INNER JOIN Pools AS P ON p.Id = PP.PoolId
	WHERE PP.PoolId = @intPoolId 

	SELECT
		PoolPosition
		, PlayerId
		, DisplayName 
		, PoolId 
		, PoolName
		, CorrectScore
		, CorrectResult
		, KoScore
		, TotalScore
	FROM #tmp
	ORDER BY PoolPosition

END
GO