USE predict
GO
-- ================================================
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetBestTeamsTable')
DROP PROCEDURE dbo.spGetBestTeamsTable 
GO

-- =============================================
-- Author:		Pete Salsbury
-- Create date: 19 Aug 2019
-- Description:	Get the tables
-- =============================================
-- EXEC predict.dbo.spGetBestTeamsTable 1
CREATE PROCEDURE dbo.spGetBestTeamsTable 
(
	@intEventId SMALLINT 
)
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	DECLARE @intGlobalPool INT = 0;

	SELECT @intGlobalPool = Id
	FROM Pools
	WHERE PoolName = 'Global Pool'
	AND EventId = @intEventId;

	/* Best teams, based on global league scoring */
	SELECT ROW_NUMBER() OVER(ORDER BY AVG(pp.TotalScore) DESC, AVG(PP.CorrectScore) DESC, AVG(PP.KoScore) DESC, Pl.CreatedDateTime) AS PoolPosition
		, T.Id AS TeamId
		, T.TeamName
		, T.TeamFlag
		, AVG(pp.CorrectScore) AS CorrectScore
		, AVG(pp.CorrectResult) AS CorrectResult
		, AVG(pp.KoScore) AS KoScore
		, AVG(pp.TotalScore) AS TotalScore
		, COUNT(pp.PlayerId) NbrPlayers
	FROM PoolPlayers AS PP
	INNER JOIN Players AS PL ON PL.Id = PP.PlayerId
	INNER JOIN Teams AS T ON T.Id = PL.supportTeamId
	WHERE PP.PoolId = @intGlobalPool /* GLOBAL POOL */
	GROUP BY T.Id, T.TeamName, T.TeamFlag, PL.CreatedDateTime
	ORDER BY AVG(pp.TotalScore) DESC, AVG(PP.CorrectScore) DESC, AVG(PP.KoScore) DESC, Pl.CreatedDateTime

END
GO