USE predictioncomp
GO
-- ================================================
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetBestPoolsTable')
DROP PROCEDURE dbo.spGetBestPoolsTable 
GO

-- =============================================
-- Author:		Pete Salsbury
-- Create date: 18 May 2021
-- Description:	Get the best pools table
-- =============================================
-- EXEC predictioncomp.dbo.spGetBestPoolsTable 63
CREATE PROCEDURE dbo.spGetBestPoolsTable 
(
	@intEventId INT
)
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	CREATE TABLE #tmp
	(
		PoolPosition BIGINT
		, NbrOfMembers INT
		, PoolName NVARCHAR(50)
		, PoolId INT
		, EventId SMALLINT
		, CorrectScore DECIMAL(10,1)
		, CorrectResult DECIMAL(10,1)
		, WinMargin DECIMAL(10,1)
		, KoScore DECIMAL(10,1)
		, TotalScore DECIMAL(10,1)
	)

	INSERT INTO #tmp
	(
		PoolPosition
		, NbrOfMembers
		, PoolName 
		, PoolId 
		, EventId
		, CorrectScore
		, CorrectResult
		, WinMargin
		, KoScore
		, TotalScore
	)
	SELECT ROW_NUMBER() OVER(ORDER BY AVG(PPG.TotalScore) DESC, AVG(PPG.CorrectScore) DESC, COUNT(1) DESC, MIN(P.CreatedDateTime)) AS PoolPosition
		, COUNT(U.Id) AS NbrOfMembers
		, P.PoolName
		, P.Id AS PoolId
		, EP.EventId
		, ISNULL(AVG(CAST(PPG.CorrectScore AS DECIMAL)),0) AS CorrectScore
		, ISNULL(AVG(CAST(PPG.CorrectResult AS DECIMAL)),0) AS CorrectResult
		, ISNULL(AVG(CAST(PPG.WinMargin AS DECIMAL)),0) AS WinMargin
		, ISNULL(AVG(CAST(PPG.KoScore AS DECIMAL)),0) AS KoScore
		, ISNULL(AVG(CAST(PPG.TotalScore AS DECIMAL)),0) AS TotalScore
	FROM EventPools AS EP
	INNER JOIN Pools AS P ON p.Id = EP.PoolId
	LEFT OUTER JOIN EventPoolPlayers AS PP ON PP.EventId = EP.EventId AND PP.PoolId = EP.PoolId AND PP.[Enabled] = 1
	LEFT OUTER JOIN EventPoolPlayers AS PPG ON PPG.EventId = EP.EventId AND PPG.PoolId = 1 AND PPG.PlayerId = PP.PlayerId AND PPG.[Enabled] = 1
	LEFT OUTER JOIN Players AS PL ON pl.Id = PP.PlayerId
	LEFT OUTER JOIN AspNetUsers AS U ON U.Id = PL.Id AND U.EmailConfirmed = 1
	WHERE EP.EventId = @intEventId
	AND EP.[Enabled] = 1
	GROUP BY P.PoolName
		, P.Id
		, EP.EventId;

	SELECT
		PoolPosition 
		, NbrOfMembers 
		, PoolName 
		, PoolId 
		, EventId 
		, CorrectScore 
		, CorrectResult 
		, WinMargin 
		, KoScore 
		, TotalScore 
	FROM #tmp
	ORDER BY PoolPosition

END
GO