USE predictioncomp
GO
-- ================================================
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetPoolInfo')
DROP PROCEDURE dbo.spGetPoolInfo 
GO

-- =============================================
-- Author:		Pete Salsbury
-- Create date: 3 Jun 2022
-- Description:	Get pool info to show
-- =============================================
-- EXEC predictioncomp.dbo.spGetPoolInfo 1
CREATE PROCEDURE dbo.spGetPoolInfo 
( @PoolId INT)
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	DECLARE @NbrPlayers INT = 0;
	DECLARE @tbl TABLE (EventId INT, EndDateTime DateTime, MinPosition INT) 
	DECLARE @MostRecentEventName VARCHAR(26)
	DECLARE @MostRecentEventWinner VARCHAR(30)
	DECLARE @MostRecentEventId INT
	DECLARE @NbrCompsEntered INT
	DECLARE @MinPosition INT
	
	SELECT @NbrPlayers = COUNT(1)
	FROM PoolPlayers AS PP
	WHERE PP.Enabled = 1
	AND PP.PoolId = @PoolId;


	WITH CTE AS
	(
		SELECT EPP.EventId, MIN(EPP.PoolPosition) AS MinPosition
		FROM EventPoolPlayers AS EPP
		WHERE EPP.PoolId = @PoolId
		GROUP BY EPP.Eventid
	)
	INSERT INTO @tbl
	(EventId, EndDateTime, MinPosition)
	SELECT E.Id, E.EndDateTime, CTE.MinPosition
	FROM EventPools AS EP
	INNER JOIN [Events] AS E ON E.Id = EP.EventId
	INNER JOIN CTE ON CTE.EventId = EP.EventId
	WHERE E.Fixtures > 0
	AND E.EndDateTime < GETUTCDATE()
	AND EP.PoolId = @PoolId

	SELECT @NbrCompsEntered = COUNT(1) 
	FROM @tbl

	SELECT TOP 1 @MostRecentEventId = EventId, @MinPosition = MinPosition
	FROM @tbl
	ORDER BY EndDateTime DESC

	SELECT @MostRecentEventWinner = P.DisplayName
		, @MostRecentEventName = E.EventName
	FROM EventPoolPlayers AS EPP
	INNER JOIN Players AS P ON P.Id = EPP.PlayerId
	INNER JOIN [Events] AS E ON E.Id = EPP.EventId
	WHERE EPP.EventId = @MostRecentEventId
	AND EPP.PoolId = @PoolId
	AND EPP.PoolPosition = @MinPosition;

	SELECT P.PoolName
		, P.CreatedDateTime
		, P.CorrectScorePoints
		, P.CorrectResultPoints
		, P.WinMarginPoints
		, P.JoinCode
		, PL.DisplayName AS AdminDisplayName
		, @NbrPlayers AS NbrPlayers
		, @MostRecentEventWinner AS MostRecentEventWinner
		, @MostRecentEventName AS MostRecentEventName
		, @NbrCompsEntered AS NbrCompsEntered
	FROM Pools AS P
	INNER JOIN Players AS PL ON PL.Id = P.AdminPlayerId
	WHERE P.Id = @PoolId;

END
GO 
