USE predictioncomp
GO
-- ================================================
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spCheckIfLeagueAdminNeedsJoin')
DROP PROCEDURE dbo.spCheckIfLeagueAdminNeedsJoin 
GO

-- =============================================
-- Author:		Pete Salsbury
-- Create date: 3 Jun 2022
-- Description:	Get pool info to show
-- =============================================
-- EXEC predictioncomp.dbo.spCheckIfLeagueAdminNeedsJoin '36009cf8-416f-4025-a583-24ba94cb4064'
CREATE PROCEDURE dbo.spCheckIfLeagueAdminNeedsJoin 
( @PlayerId NVARCHAR(128))
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	SELECT E.EventName
	FROM Pools AS P
	INNER JOIN EventPools AS EP ON EP.PoolId = P.Id
	INNER JOIN [Events] E ON E.id = EP.EventId AND E.EndDateTime > GETDATE()
	LEFT OUTER JOIN EventPlayers AS EPL ON EPL.PlayerId = P.AdminPlayerId AND EPL.EventId = E.id AND EPL.Enabled = 1
	WHERE P.AdminPlayerId = @PlayerId
	AND EP.Enabled = 1
	AND EPL.PlayerId IS NULL

END
GO 
