USE predictioncomp
GO
-- ================================================
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetPlayerStats')
DROP PROCEDURE dbo.spGetPlayerStats 
GO

-- =============================================
-- Author:		Pete Salsbury
-- Create date: 3 Jun 2022
-- Description:	Get pool info to show
-- =============================================
-- EXEC predictioncomp.dbo.spGetPlayerStats 'e51699d7-7cf2-4565-905c-4a89c4f80063', 236
CREATE PROCEDURE dbo.spGetPlayerStats 
(
	@PlayerId NVARCHAR(128)
	, @EventId INT
)
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	--Your Stats page saying stats for the player.
	--Best prediction
	--worst prediction
	--number of comp wins
	--number of comps entered.
	--Correct score accuracy
	--correct result accuracy
	--Stats for overall and for the current calendar month.
	--Best performance in a comp (points and betting returns)
	--Could have a widget on the comp home page to show stats for that comp
	--Could include risk factor i.e. compare predictions to whether they are the favourite outcomes or not

	/* Best Prediction */
	SELECT TOP 1 
		F.FixtureDateTime
		, TH.TeamName
		, TA.TeamName
		, FP.HomePrediction
		, FP.AwayPrediction
		, F.HomeResult
		, F.AwayResult
		, FOBS.Odds
	FROM FixturePredictions AS FP
	INNER JOIN Fixtures AS F ON F.Id = FP.FixtureId
	INNER JOIN Teams AS TH ON TH.Id = F.HomeTeamId
	INNER JOIN Teams AS TA ON TA.Id = F.AwayTeamId
	INNER JOIN FixtureOddsByScores AS FOBS ON FOBS.RapidApiFixtureId = F.RapidApiFixtureId AND FOBS.HomeScore = FP.HomePrediction AND FOBS.AwayScore = FP.AwayPrediction
	WHERE FP.EventId = @EventId
	AND FP.PlayerId = @PlayerId
	AND FP.CorrectScore = 1
	ORDER BY FOBS.Odds DESC

	/* Worst Prediction */
	SELECT TOP 1 
		F.FixtureDateTime
		, TH.TeamName
		, TA.TeamName
		, FP.HomePrediction
		, FP.AwayPrediction
		, F.HomeResult
		, F.AwayResult
		, FOBS.Odds
	FROM FixturePredictions AS FP
	INNER JOIN Fixtures AS F ON F.Id = FP.FixtureId
	INNER JOIN Teams AS TH ON TH.Id = F.HomeTeamId
	INNER JOIN Teams AS TA ON TA.Id = F.AwayTeamId
	INNER JOIN FixtureOddsByScores AS FOBS ON FOBS.RapidApiFixtureId = F.RapidApiFixtureId AND FOBS.HomeScore = FP.HomePrediction AND FOBS.AwayScore = FP.AwayPrediction
	WHERE FP.EventId = @EventId
	AND FP.PlayerId = @PlayerId
	AND FP.CorRectScore = 0
	AND FP.CorrectResult = 0
	ORDER BY (FP.HomePrediction - FP.AwayPrediction) - (f.HomeResult - f.AwayResult) DESC

	SET NOCOUNT ON;


END
GO 
