USE predict
GO
-- ================================================
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetBestPoolsTable')
DROP PROCEDURE dbo.spGetBestPoolsTable 
GO

-- =============================================
-- Author:		Pete Salsbury
-- Create date: 19 Aug 2019
-- Description:	Get the tables
-- =============================================
-- EXEC predict.dbo.spGetBestPoolsTable 1
CREATE PROCEDURE dbo.spGetBestPoolsTable 
(
	@intEventId SMALLINT
)
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	DECLARE @intGlobalPool INT = 0;

	SELECT @intGlobalPool = Id
	FROM Pools
	WHERE PoolName = 'Global Pool';

	/* Best Pools, based on global league scoring */
	SELECT ROW_NUMBER() OVER(ORDER BY AVG(PP.TotalScore) DESC, AVG(PP.CorrectScore) DESC, AVG(PP.KoScore) DESC, P.CreatedDateTime) AS PoolPosition
		, P.Id AS PoolId
		, P.PoolName
		, AVG(PP2.CorrectScore) AS CorrectScore
		, AVG(PP2.CorrectResult) AS CorrectResult
		, AVG(PP2.KoScore) AS KoScore
		, AVG(PP2.TotalScore) AS TotalScore
		, COUNT(PP.PlayerId) AS NbrPlayers
	FROM PoolPlayers AS PP
	INNER JOIN Pools AS P on p.Id = pp.PoolId
	INNER JOIN PoolPlayers AS PP2 ON PP2.PlayerId = PP.PlayerId AND PP2.PoolId = @intGlobalPool /* global pool */
	WHERE PP.PoolId <> @intGlobalPool /* GLOBAL POOL */
	GROUP BY P.Id, P.PoolName, P.CreatedDateTime
	ORDER BY AVG(pp.TotalScore) DESC, AVG(PP.CorrectScore) DESC, AVG(PP.KoScore) DESC, P.CreatedDateTime

END
GO