USE predict
GO
-- ================================================
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetTable')
DROP PROCEDURE dbo.spGetTable 
GO

-- =============================================
-- Author:		Pete Salsbury
-- Create date: 19 Aug 2019
-- Description:	Get the tables
-- =============================================
-- EXEC predict.dbo.spGetTable 1, 3,1
CREATE PROCEDURE dbo.spGetTable 
(
	@intEventId SMALLINT
	, @intTableTypeId SMALLINT = 1 /* 1 = Normal Table, 2 = Pools Best, 3 = Teams Best */
	, @intPoolId INT
)
AS
BEGIN

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	SET NOCOUNT ON;

	DECLARE @intGlobalPool INT = 0;

	SELECT @intGlobalPool = Id
	FROM Pools
	WHERE PoolName = 'Global Pool'
	AND EventId = @intEventId;

	CREATE TABLE #tmp
	(
		PoolPosition BIGINT
		, PlayerId NVARCHAR(128)
		, DisplayName NVARCHAR(30)
		, PoolId INT
		, PoolName NVARCHAR(50)
		, SupportTeamId INT
		, TeamName NVARCHAR(50)
		, TeamFlag NVARCHAR(100)
		, CorrectScore INT
		, CorrectResult INT
		, KoScore INT
		, TotalScore INT
	)

	IF @intTableTypeId=1
	BEGIN

		/* Normal Table */
		INSERT INTO #tmp
		(
			PoolPosition
			, PlayerId
			, DisplayName 
			, PoolId 
			, PoolName
			, SupportTeamId
			, TeamName
			, TeamFlag
			, CorrectScore
			, CorrectResult
			, KoScore
			, TotalScore
		)
		SELECT ROW_NUMBER() OVER(ORDER BY PP.TotalScore DESC, PP.CorrectScore DESC, PP.CreatedDateTime) AS PoolPosition
			, PP.PlayerId
			, PL.DisplayName
			, P.Id AS PoolId
			, P.PoolName
			, PL.SupportTeamId
			, T.TeamName
			, T.TeamFlag
			, PP.CorrectScore
			, PP.CorrectResult
			, PP.KoScore
			, PP.TotalScore
		FROM PoolPlayers AS PP
		INNER JOIN Players AS PL ON pl.Id = PP.PlayerId
		INNER JOIN Pools AS P ON p.Id = PP.PoolId
		LEFT OUTER JOIN Teams AS T ON T.Id = pl.SupportTeamId
		WHERE PP.PoolId = @intPoolId 

	END
	ELSE IF @intTableTypeId=2
	BEGIN

		/* Pools Best, based on global league scoring*/
		INSERT INTO #tmp
		(
			PoolPosition
			, PlayerId
			, DisplayName 
			, PoolId 
			, PoolName
			, SupportTeamId
			, TeamName
			, TeamFlag
			, CorrectScore
			, CorrectResult
			, KoScore
			, TotalScore
		)
		SELECT ROW_NUMBER() OVER(ORDER BY PP2.TotalScore DESC, PP2.CorrectScore DESC, PP2.CreatedDateTime) AS PoolPosition
			, PL.Id
			, pl.DisplayName
			, P.Id AS PoolId
			, P.PoolName
			, pl.SupportTeamId
			, T.TeamName
			, T.TeamFlag
			, pp2.CorrectScore
			, pp2.CorrectResult
			, pp2.KoScore
			, pp2.TotalScore
		FROM Pools AS P 
		INNER JOIN (
					SELECT MIN(pp.PlayerId) MinPlayerId
						, PP.PoolId
					FROM PoolPlayers AS PP
					INNER JOIN (
  									SELECT MIN(Pp.PoolPosition) as MinPosition
										, pp.PoolId
									FROM PoolPlayers AS PP
									INNER JOIN PoolPlayers AS PP2 on PP2.PlayerId = PP.PlayerId and PP2.PoolId = @intGlobalPool /* global pool */
									WHERE PP.PoolId <> @intGlobalPool /* GLOBAL POOL */
									GROUP BY PP.PoolId
							) AS SUB on SUB.PoolId = PP.PoolId
					INNER JOIN PoolPlayers ON SUB.PoolId = PP.PoolId AND SUB.MinPosition = PP.PoolPosition
					GROUP BY PP.POOLID
				) SUB2 ON SUB2.PoolId = P.Id
		INNER JOIN Players AS PL ON PL.Id = SUB2.MinPlayerId
		INNER JOIN PoolPlayers AS PP2 ON PP2.PlayerId = PL.Id AND PP2.PoolId = @intGlobalPool /* global pool */
		LEFT OUTER JOIN Teams AS T ON T.Id = PL.SupportTeamId
		ORDER BY PP2.TotalScore DESC, PP2.CorrectScore DESC, PP2.CreatedDateTime
	
	END
	ELSE IF @intTableTypeId = 3
	BEGIN
		
		/* Teams Best */
		INSERT INTO #tmp
		(
			PoolPosition
			, PlayerId
			, DisplayName 
			, PoolId 
			, PoolName
			, SupportTeamId
			, TeamName
			, TeamFlag
			, CorrectScore
			, CorrectResult
			, KoScore
			, TotalScore
		)
		SELECT ROW_NUMBER() OVER(ORDER BY PP.PoolPosition) AS PoolPosition
			, PL.Id
			, PL.DisplayName
			, NULL AS PoolId
			, NULL AS PoolName
			, pl.SupportTeamId
			, T.TeamName
			, T.TeamFlag
			, PP.CorrectScore
			, PP.CorrectResult
			, PP.KoScore
			, PP.TotalScore
		FROM PoolPlayers AS PP
		INNER JOIN Players PL ON PL.Id = PP.PlayerId
		INNER JOIN (
						SELECT SUB2.SupportTeamId
							, MIN(PP.PlayerId) MinPlayerId
						FROM PoolPlayers AS PP
						INNER JOIN Players AS P ON P.Id = PP.PlayerId
						INNER JOIN (
  										SELECT PL.SupportTeamId
											, MIN(Pp.PoolPosition) as MinPosition
										FROM PoolPlayers AS PP
										INNER JOIN Players AS PL ON PL.Id = pp.PlayerId
										WHERE PP.PoolId = @intGlobalPool /* GLOBAL POOL */
										GROUP BY PL.SupportTeamId
									) AS SUB2 ON SUB2.MinPosition = PP.PoolPosition AND SUB2.SupportTeamId = P.SupportTeamId
						WHERE PP.PoolId = @intGlobalPool /* GLOBAL POOL */
						GROUP BY SUB2.SupportTeamId
					) AS SUB on SUB.MinPlayerId = PP.PlayerId /* Exclude SupportTeamId as want to include those that have a null for the supported team */			
		LEFT OUTER JOIN Teams AS T ON T.Id = PL.SupportTeamId
		WHERE PP.PoolId = @intGlobalPool; /* GLOBAL POOL */
		
		/* Update the table with the first pool per player */
		WITH CTE AS
		(
			SELECT TMP.PlayerId
				, MIN(PP.PoolId) AS MinPoolId
			FROM #tmp AS TMP
			INNER JOIN PoolPlayers AS PP ON PP.PlayerId = TMP.PlayerId
			INNER JOIN Pools AS P ON P.Id = PP.PoolId AND P.EventId = @intEventId AND P.Id <> @intGlobalPool		
			GROUP BY TMP.PlayerId
		)
		UPDATE TMP
		SET TMP.PoolId = CTE.MinPoolId
			, TMP.PoolName = P.PoolName
		FROM #TMP AS TMP
		LEFT JOIN CTE ON CTE.PlayerId = TMP.PlayerId
		LEFT JOIN Pools AS P ON P.Id = CTE.MinPoolId 

	END

	SELECT
		PoolPosition
		, PlayerId
		, DisplayName 
		, PoolId 
		, PoolName
		, SupportTeamId
		, TeamName
		, TeamFlag
		, CorrectScore
		, CorrectResult
		, KoScore
		, TotalScore
	FROM #tmp
	ORDER BY PoolPosition

END
GO