use Predictioncomp

select *
from aspnetusers a
where a.EmailConfirmed = 1
and a.email = '2pete@salsbury.co.uk'

select *
into #tmp
from aspnetusers a
where a.EmailConfirmed = 1
and a.email = '2pete@salsbury.co.uk'


DECLARE @UserId NVARCHAR(128) 
declare @pools int = 0

begin tran

	select top 1 @UserId = id
	from #tmp

	while @UserId is not null
	begin

		-- assuming that this player isnt admin of any pools
		SELECT @UserId

		select @pools =  count(1) from pools where adminplayerid = @UserId
		if(@pools = 0)
		begin

		  delete from FixturePredictions where playerid = @UserId
		  delete from KoFixturePredictions where playerid = @UserId
		  delete from BonusQuestionPredictions where playerid = @UserId
		  delete from KoWinningTeamPredictions where playerid = @UserId
  
		  delete from EventPoolPlayers where playerid = @UserId
		  delete from PoolPlayers where playerid = @UserId
		  delete from EventPlayers where playerid = @UserId

		  delete from EventPoolPlayerPositionHistory where playerid = @UserId

		  delete from [dbo].[AspNetUserRoles] where userid = @UserId
		  delete from players where id = @UserId
		  delete from [dbo].[AspNetUsers] where id = @UserId

		end
		else
		begin
			select 'nothing done'
		end

		delete from #tmp where id = @UserId

		select @UserId = null

		select top 1 @UserId = id
		from #tmp

	end

--commit

select *
from aspnetusers a
inner join #tmp p on p.id = a.id

--commit
--rollback